body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin: auto;
    padding: 0;
    width: 90%;
}
header nav, footer {
    align-items: center;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-left: .5em;
    padding-right: .5em;
}

/* ----------------- header -------------- */
header nav h1 {
    outline: 0px solid green;
    font-size: 2em;
}
header nav ul {
    outline: 0px solid yellow;
    list-style: none;
    text-align: right;
}
header nav ul li {
    display: inline;
    font-size: 1.2em;
    margin: 0;
}
header nav ul li:not(:last-child):after {
    content: ' | ';
    color: magenta;
}
header nav ul li form {                 /* use to post request logouts */
    display: inline;
}
header nav a {
    color: inherit;
    font-style: normal;
    font-variant: small-caps;
    text-decoration: none;
}
header nav ul a:hover {
    text-decoration: underline;
}

/* ----------------- main -------------- */
main.frontpage {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
main.otherpage {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-gap: 1em;
    padding: 0;
}
main.thirdpage {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-gap: 1em;
    padding: 0;
}
main.fourthpage {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    grid-gap: 1em;
    padding: 0;
}
main aside {
    background-color: #eee;
    padding: .5em;
}
main aside ul {
    list-style: none;
}
main aside ul li {
    font-family: sans serif;
    font-size: small;
    margin-left: 0;
    text-indent: -3em;
}
main aside:last-child {
    text-align: right;
}
main section article, main section p {
    padding: .5em;
}
.math {
    display: inline-block;
    font-family: monospace;
    font-weight: 700;
    margin-left: 8em;
}
.bold, .good, .bad {
    font-family: monospace;
    font-size: 1.3em;
    font-weight: 700;
}
.good {
    color: #080;
}
.bad {
    color: #c00;
}

.skema th, .skema td {
    font-family: monospace;
    padding: .3em .5em;
}
.skema .row0 {
    border-bottom: 1px solid black;
    vertical-align: bottom;
}
.skema .col0 {
    border-right: 1px solid black;
}
/* ----------------- footer -------------- */
footer {
    padding-top: .5em;
    padding-bottom: .5em;
}